@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap");
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  padding-top: 54px;
  color: #868e96;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 20rem;
  }
}

h1 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: #212529;
  font-weight: 600;
  font-size: 3.6rem;
}

h2 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: #343a40;
  font-weight: 600;
  font-size: 2.88rem;
}

h3 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #495057;
  font-weight: 600;
  font-size: 1.44rem;
}

h4 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #868e96;
  font-size: 1.32rem;
}

.subheading {
  font-weight: 500;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.96rem;
}

p.lead {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
}

.para-content {
  font-size: 1.08rem;
  text-align: justify;
}

.social-icons .icon {
  border: 0;
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
  transition: all 0.1s ease-in-out;
}

.social-icons .icon:last-child {
  margin-right: 0;
}

.social-icons .icon:hover {
  background-color: #1685d5;
}

.social-icons .icon:focus {
  background-color: #1685d5;
}

.dev-icons {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .dev-icons {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.dev-icons img,
.dev-icons svg {
  width: 3rem;
  height: 3.125rem;
}

.dev-icons .list-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.8rem;
}

.dev-icons .list-item:hover,
.dev-icons .list-item svg:hover .icon,
.dev-icons .list-item img:hover .icon {
  fill: #1685d5;
  color: #1685d5;
}

.tooltip.show {
  opacity: 1;
}

.tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #1685d5;
  border-left-color: #1685d5;
}

.tooltip.bs-tooltip-left .arrow::before {
  border-right-color: #1685d5;
  border-left-color: #1685d5;
}

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #1685d5;
  border-bottom-color: #1685d5;
}

.tooltip.bs-tooltip-bottom .arrow::before {
  border-top-color: #1685d5;
  border-bottom-color: #1685d5;
}

.tooltip .tooltip-inner {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #1685d5;
}

#sideNav {
  padding: 0;
}

#sideNav .navbar-brand {
  padding: 0.8rem;
}

#sideNav .navbar-toggler {
  margin: 0.8rem;
}

#sideNav .navbar-nav .nav-item {
  padding: 0;
}

#sideNav .navbar-nav .nav-item .nav-link {
  padding: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#sideNav .navbar-nav .nav-item .nav-link.active {
  background-color: #0e5385;
}

#sideNav .navbar-toggler:focus {
  outline-color: #4ba9ec;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 12.8rem;
    max-height: 12.8rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  min-height: 100vh;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item {
  flex-direction: row;
}

section.resume-section .resume-item .resume-content {
  max-width: 60rem;
}

section.resume-section .resume-item .resume-date {
  text-align: end;
  min-width: 12rem;
}

@media (max-width: 992px) {
  section.resume-section .resume-item {
    flex-direction: column;
  }
  section.resume-section .resume-item .resume-content {
    margin: 0 !important;
  }
  section.resume-section .resume-item .resume-date {
    padding-left: 0 !important;
  }
}

body {
  list-style: none;
}

.bg-primary {
  background-color: #1685d5 !important;
}

.text-primary {
  color: #1685d5 !important;
}

a {
  color: #1685d5;
}

a:hover, a:focus, a:active {
  color: #0f5a90;
}
