// Global styling for this template

body {
  @include body-font;

  padding-top: 54px;
  color: $gray-600;
  font-size: $normalFontSize;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1 {
  @include heading-font;

  text-transform: uppercase;
  color: $gray-900;
  font-weight: 600;
  font-size: $normalFontSize * 3;
}

h2 {
  @include heading-font;

  text-transform: uppercase;
  color: $gray-800;
  font-weight: 600;
  font-size: $normalFontSize * 2.4;
}

h3 {
  @include subheading-font;

  color: $gray-700;
  font-weight: 600;
  font-size: $normalFontSize * 1.2;
}

h4 {
  @include body-font;

  color: $gray-600;
  font-size: $normalFontSize * 1.1;
}

.subheading {
  font-weight: 500;

  @include subtitle-font;

  font-size: $normalFontSize * 0.8;
}

p.lead {
  font-size: $normalFontSize;
  font-weight: 400;
  text-align: justify;
}

.para-content {
  font-size: $normalFontSize * 0.9;
  text-align: justify;
}

.social-icons {
  .icon {
    .svg-icon {
      color: white;
      height: 2rem;
      width: 2rem;
    }

    border: 0;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    transition: all 0.1s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $primary;
    }

    &:focus {
      background-color: $primary;
    }
  }
}

.dev-icons {
  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  font-size: 3rem;
  display: flex;
  flex-direction: row;

  img,
  svg {
    width: 3rem;
    height: 3.125rem;
  }

  .list-item {
    width: fit-content;
    margin-right: $gutterWidth;

    &:hover,
    svg:hover .icon,
    img:hover .icon {
      fill: $primary;
      color: $primary;
    }
  }
}

.tooltip {
  &.show {
    opacity: 1;
  }

  &.bs-tooltip-right {
    .arrow::before {
      border-right-color: $primary;
      border-left-color: $primary;
    }
  }

  &.bs-tooltip-left {
    .arrow::before {
      border-right-color: $primary;
      border-left-color: $primary;
    }
  }

  &.bs-tooltip-top {
    .arrow::before {
      border-top-color: $primary;
      border-bottom-color: $primary;
    }
  }

  &.bs-tooltip-bottom {
    .arrow::before {
      border-top-color: $primary;
      border-bottom-color: $primary;
    }
  }

  .tooltip-inner {
    @include body-font;

    font-size: $normalFontSize;
    color: white;
    background-color: $primary;
  }
}
