section.resume-section {
  min-height: 100vh;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    flex-direction: row;

    .resume-content {
      max-width: 60rem;
    }
    .resume-date {
      text-align: end;
      min-width: 12rem;
    }
  }
}

@media (max-width: 992px) {
  section.resume-section {
    .resume-item {
      flex-direction: column;
      .resume-content{
        margin: 0 !important;
      }
      .resume-date {
        padding-left: 0 !important;
      }
    }
  }
}
